@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Roshni Raveendran </h1>
    <p>Student ID: 500224608</p>
    <hr />
    <div>CLOD2005 WEEK11 LAB</div>
</div>
